<div class="row justify-content-center h-75">
    <div class="bg-primary col-md-6  card main-card border border-0">
      <div class="card-body">
        <h2 class="card-title">メッセージカードを送ろう</h2>
        <%= form_for(:session, url: login_path) do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
            <div class="button_center">
              <%= f.submit "Log in", class: 'btn btn-secondary' %>
              <p class="ja-caption mt-3 mb-2">メール：test@test.com<br>パスワード：test<br>でお試しログインできます。</p>
              <%= link_to "お試しメッセージ送信画面", user_path(1), class:"ja-caption mt-3" %>
              <p class="ja-caption mt-1">メッセージを送信後、上のユーザーでログインすると<br>送ったメッセージを確認できます。</p>
            </div>
        <% end %>
      </div>
    </div>
</div>


