<% card_str_limit = 120 %>


<div class="bg-primary col-md-4  card mini-card border border-0">
  <div class="card-body">
    <div class="mini-square">
      <% card_string = message_card.content %>
      <%= link_to(message_card_path(message_card), remote: true) do %>
        <div class="line-reduce"><%= "#{card_string}" %></div>
      <% end %>
      <div id="card-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <div class="mini-controls">
        <%= link_to "favorite", "#" %> / 
        <%= link_to "hide", "#" %> / 
        <%= link_to "delete", message_card, method: :delete %> 
      </div>
    </div>
  </div>
</div>
